# Importing data

## Importing Gartner tool info

In [2]:
#read tool_info_ga.csv as df_ga
df_ga = pd.read_csv('/Users/macbook/Thesis data scrapers/Newscraper/data/tool_info_ga.csv', sep=';', encoding='utf-8')

In [3]:
df_ga.sample(5)

,S.N.,Vendor/ Product,Location,Year Founded,Website Link,Product Description,Business Unit,Vertical,Application Type,Use Case,Type of Output Modality,Type of Data Origin,Freemium
18,312,GitHub,"San Francisco, California, United States",2008.0,https://github.com,GitHub Copilot is an AI pair programmer that o...,Software Development and Testing,Generic,End-User Applications,Productivity- Developers,Code,Public,Yes
492,188,Coxwave,"Seoul, South Korea",2021.0,www.coxwave.com,Developer of a next-generation product analyti...,Software Development and Testing,Generic,Development-Support-Focused,Generative AI Full Stack App Development,NaN,Combined,NaN
587,192,Craiyon,"Texas, United States",2022.0,www.craiyon.com,Developer of an AI-based text-to-image platfor...,Marketing/Comms/Sales/Content,Generic,End-User Applications,Productivity- Designers and Creatives,Image,Combined,NaN
365,791,Yepic AI,"London, England, United Kingdom",2019.0,https://yepic.ai,Yepic is an AI enabled platform where anyone c...,Customer Service & Experience,Generic,End-User Applications,Productivity- Designers and Creatives,Video,Combined,No
763,435,Lotse AI,United States,NaN,https://getlotse.ai/,LotseAI is an AI-driven Program Manager design...,Generic,Generic,End-User Applications,Productivity- Citizen Technologists,NA/Ops/Support,Private,NaN

In [4]:
#change only column names to lowercase
df_ga.columns = df_ga.columns.str.lower()

In [5]:
df_ga['website link'] = df_ga['website link'].astype(str)

#replace all empty cells in website link with missing
df_ga['website link'] = df_ga['website link'].fillna('missing')

In [6]:
#change coloumn name vendor/product name to tool name
df_ga = df_ga.rename(columns={'vendor/ product': 'tool name'})

In [7]:
df_ga.head()

,s.n.,tool name,location,year founded,website link,product description,business unit,vertical,application type,use case,type of output modality,type of data origin,freemium
0,358,IBM,"New York, United States",1911.0,https://www.ibm.com/products/watsonx-ai,Watsonx.ai brings together new generative AI c...,Generic,Generic,Development-Support-Focused,LLM Model Development and Monitoring Platform,NaN,Combined,NaN
1,420,LexisNexis,"New York, United States",1970.0,https://www.lexisnexis.com/en-us/gateway.page,Provider of legal research database services f...,Generic,Generic,End-User Applications,Generative AI Apps- Legal,Text,Combined,NaN
2,551,Oracle,United States,1977.0,https://www.oracle.com/artificial-intelligence...,Unlock the power of generative AI models equip...,Software Development and Testing,Generic,Development-Support-Focused,LLM Model Development and Monitoring Platform,NA/Ops/Support,Private,No
3,126,Bloomberg,"New York, United States",1981.0,https://www.bloomberg.com/company/,This large language model (LLM) has been speci...,Finance,Banking,End-User Applications,Generative AI Apps- Finance,Multimodal,Licensed,NaN
4,307,Generally Intelligent,United States,1989.0,generallyintelligent.ai,"Develop AI systems that can reason and code, i...",Research & Engineering,Generic,End-User Applications,Productivity- Developers,Process/Workflow,Private,NaN

In [8]:
#print coliunm names
df_ga.columns

Index(['s.n.', 'tool name', 'location', 'year founded', 'website link',
       'product description', 'business unit', 'vertical', 'application type',
       'use case', 'type of output modality', 'type of data origin',
       'freemium'],
      dtype='object')

In [9]:
# Using a regular expression to replace all non-alphanumeric characters with nothing ('')
df_ga['tool name'] = df_ga['tool name'].str.replace('[^a-zA-Z0-9]', '', regex=True)

#change all tool names to lowercase
df_ga['tool name'] = df_ga['tool name'].str.lower()

In [65]:
#change the website link format to websitedomain + DOT + toplevel domain
df_ga['url_format'] = df_ga['website link'].str.replace('https://', '').str.replace('http://', '').str.replace('www.', '').str.split('/').str[0]

/var/folders/lz/910twyk903nb6sxfgz54bngc0000gn/T/ipykernel_32311/4117420022.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_ga['url_format'] = df_ga['website link'].str.replace('https://', '').str.replace('http://', '').str.replace('www.', '').str.split('/').str[0]

In [75]:
# save the dataframe as a csv file
df_ga.to_csv('/Users/macbook/Thesis data scrapers/Newscraper/data/general_info_ga_cleaned.csv', sep=';', encoding='utf-8', index=False)

## Importing traffic data

In [1]:
#import /Users/macbook/Thesis data scrapers/Newscraper/data/traffic_data.xlsx
df_traffic = pd.read_excel('/Users/macbook/Thesis data scrapers/Newscraper/data/traffic_data.xlsx')
df_traffic['urls'] = df_traffic['urls'].astype(str)

#replace all empty cells in website link with missing
df_traffic['urls'] = df_traffic['urls'].fillna('missing')
df_traffic.sample(5)
# Aannemend dat je DataFrame df heet
# Pivoteren van de DataFrame
pivot_df = df_traffic.pivot(index='urls', columns='order', values='visits')

# Omzetten van de kolomnamen naar meer beschrijvende namen (optioneel)
month_names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
pivot_df.columns = [month_names[int(i)] if i in range(0, 12) else 'Unknown' for i in pivot_df.columns]

pivot_df.reset_index(inplace=True)

pivot_df.sample(5)
# unique urls in pivot_dfkl
pivot_df['urls'].nunique()
pivot_df['average visits'] = pivot_df.mean(axis=1)
pivot_df = pivot_df.fillna(0)
pivot_df['average visits'] = pivot_df['average visits'].astype(int)
average_visits_per_month = pivot_df.mean(axis=0)
average_visits_per_month_df = pd.DataFrame(average_visits_per_month, columns=['Average Visits'])
average_visits_per_month_df.index.name = 'Month'
average_visits_per_month_df.reset_index(inplace=True)

NameError: name 'pd' is not defined

In [19]:
# Veronderstel dat 'pivot_df' je DataFrame is na de pivot-operatie
pivot_df = pivot_df.fillna(0)

# Functie om de laatste maand met bezoekers te vinden
def last_month_with_visitors(row):
    last_month = None
    for month in reversed(row.index):
        if row[month] != 0:
            last_month = month
            break
    return last_month

# Bepaal de laatste maand met bezoekers voor elke tool
pivot_df['Last Month With Visitors'] = pivot_df.apply(last_month_with_visitors, axis=1)

# Bereken het gemiddelde aantal bezoekers tot de maand voor de laatste maand met bezoekers
def average_until_last_month(row, last_month):
    if last_month is None:
        return None
    months = row.index[row.index < last_month]
    if not months.any():
        return None
    return row[months].mean()

pivot_df['Average Until Last Month'] = pivot_df.apply(lambda row: average_until_last_month(row, row['Last Month With Visitors']), axis=1)

# Bereken de procentuele stijging ten opzichte van het gemiddelde voor de laatste maand
def percentage_increase(row):
    if pd.isna(row['Average Until Last Month']) or pd.isna(row['Last Month With Visitors']):
        return None
    last_month_visits = row[row['Last Month With Visitors']]
    avg_until_last = row['Average Until Last Month']
    return ((last_month_visits - avg_until_last) / avg_until_last) * 100

pivot_df['Percentage Increase'] = pivot_df.apply(percentage_increase, axis=1)

# Selecteer de relevante kolommen voor de uiteindelijke

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [20]:
#all lowercase column names
pivot_df.columns = pivot_df.columns.str.lower()
pivot_df.sample(5)

,urls,unknown,jan,feb,mar,apr,may,jun,jul,aug,sep,average visits,last month with visitors
5266,songmastr.com,0.0,2955.101180,5451.649613,8176.192481,19739.355314,23878.239928,13231.491764,7697.772885,4679.879372,9633.556555,10604,average visits
2358,geniustrip.ai,0.0,0.000000,0.000000,4787.127952,48415.433787,140442.071779,72326.423447,3652.182677,5116.148494,359.176974,30566,average visits
5381,stellarapp.io,0.0,8470.629355,2161.279683,606.173768,294.039786,213.780946,978.937521,73421.389149,49215.891996,10246.473843,16178,average visits
1533,customchat.io,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,urls
3724,minmax.ai,0.0,428.194695,0.000000,327.339010,201.900049,707.089922,919.944862,1196.557246,1304.503385,2868.086446,883,average visits

In [21]:
#column names
pivot_df.columns

Index(['urls', 'unknown', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul',
       'aug', 'sep', 'average visits', 'last month with visitors'],
      dtype='object')

In [25]:
#save pivot_df as csv
pivot_df.to_csv('/Users/macbook/Thesis data scrapers/Newscraper/data/traffic_data_cleaned.csv', sep=';', encoding='utf-8', index=False)

## Importing Financial Data

In [171]:
# read /Users/macbook/Library/Mobile Documents/com~apple~CloudDocs/Master DDB/Thesis/Financial data/ai-deel-213-11-2023.csv
df_financial2 = pd.read_csv('/Users/macbook/Library/Mobile Documents/com~apple~CloudDocs/Master DDB/Thesis/Financial data/ai-deel-213-11-2023.csv', encoding='utf-8')

In [189]:
df_financial2.sample(1)

,Organization Name,Organization Name URL,Industries,Headquarters Location,Description,CB Rank (Company),Headquarters Regions,Operating Status,Founded Date,Founded Date Precision,...,Last Funding Amount Currency,Last Funding Amount Currency (in USD),Total Funding Amount,Total Funding Amount Currency,Total Funding Amount Currency (in USD),Number of Investors,Number of Acquisitions,IPO Status,IPO Date,Stock Exchange
192,Slideoo,https://www.crunchbase.com/organization/slideoo,"Artificial Intelligence (AI), Presentation Sof...","Bangalore, Karnataka, India",Slideoo is a revolutionary SaaS platform that ...,"249,524",Asia-Pacific (APAC),Active,2023-07-10,day,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Private,NaN,NaN

In [173]:
df_financial2.columns

Index(['Organization Name', 'Organization Name URL', 'Industries',
       'Headquarters Location', 'Description', 'CB Rank (Company)',
       'Headquarters Regions', 'Operating Status', 'Founded Date',
       'Founded Date Precision', 'Company Type', 'Website', 'LinkedIn',
       'Full Description', 'Industry Groups', 'Number of Employees',
       'Number of Founders', 'Number of Funding Rounds', 'Last Funding Date',
       'Last Funding Amount', 'Last Funding Amount Currency',
       'Last Funding Amount Currency (in USD)', 'Total Funding Amount',
       'Total Funding Amount Currency',
       'Total Funding Amount Currency (in USD)', 'Number of Investors',
       'Number of Acquisitions', 'IPO Status', 'IPO Date', 'Stock Exchange'],
      dtype='object')

In [174]:
import glob
# load all csv files in /Users/macbook/Library/Mobile Documents/com~apple~CloudDocs/Master DDB/Thesis/Financial data and concatenate them into one dataframe
df_financial = pd.concat([pd.read_csv(f, encoding='utf-8') for f in glob.glob('/Users/macbook/Library/Mobile Documents/com~apple~CloudDocs/Master DDB/Thesis/Financial data/*.csv')], ignore_index = True)

In [178]:
# save the dataframe as a csv file in /Users/macbook/Thesis data scrapers/Newscraper/data
df_financial.to_csv('/Users/macbook/Thesis data scrapers/Newscraper/data/financial_data.csv', sep=';', encoding='utf-8', index=False)

In [179]:
# read /Users/macbook/Thesis data scrapers/Newscraper/data/financial_data.csv
df_financial = pd.read_csv('/Users/macbook/Thesis data scrapers/Newscraper/data/financial_data.csv', sep=';', encoding='utf-8')

In [167]:
df_financial['Website'].sample(5)

45                    https://www.truewind.ai
43                        http://www.tldv.io/
251                  http://entopet.tilda.ws/
58                     https://www.trint.com/
256    https://www.thinkevolveconsulting.com/
Name: Website, dtype: object

In [180]:
# all lowercase column names and add _ in spaces
df_financial.columns = df_financial.columns.str.lower().str.replace(' ', '_')

# # Using a regular expression to replace all non-alphanumeric characters with nothing ('')
df_financial['tool_name'] = df_financial['organization_name'].str.replace('[^a-zA-Z0-9]', '', regex=True)

#change the website link format to websitedomain + DOT + toplevel domain like df_ga['url_format'] = df_ga['website link'].str.replace('https://', '').str.replace('http://', '').str.replace('www.', '').str.split('/').str[0]
df_financial['url_format'] = df_financial['website'].str.replace('https://', '').str.replace('http://', '').str.replace('www.', '').str.split('/').str[0]

/var/folders/lz/910twyk903nb6sxfgz54bngc0000gn/T/ipykernel_32311/542006798.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df_financial['url_format'] = df_financial['website'].str.replace('https://', '').str.replace('http://', '').str.replace('www.', '').str.split('/').str[0]

In [182]:
#sample url_format
df_financial['url_format'].sample(5)

1508     weaverse.io
1366       theneo.io
170          leap.ai
1152    getmunch.com
3147       youper.ai
Name: url_format, dtype: object

In [181]:
df_financial.columns

Index(['organization_name', 'organization_name_url', 'industries',
       'headquarters_location', 'description', 'cb_rank_(company)',
       'headquarters_regions', 'founded_date', 'founded_date_precision',
       'operating_status', 'company_type', 'website', 'linkedin',
       'full_description', 'industry_groups', 'number_of_employees',
       'number_of_founders', 'number_of_funding_rounds', 'last_funding_date',
       'last_funding_amount', 'last_funding_amount_currency',
       'last_funding_amount_currency_(in_usd)', 'total_funding_amount',
       'total_funding_amount_currency',
       'total_funding_amount_currency_(in_usd)', 'number_of_investors',
       'number_of_acquisitions', 'ipo_status', 'ipo_date', 'stock_exchange',
       'tool_name', 'url_format'],
      dtype='object')

In [185]:
df_financial.sample(5)

,organization_name,organization_name_url,industries,headquarters_location,description,cb_rank_(company),headquarters_regions,founded_date,founded_date_precision,operating_status,...,total_funding_amount,total_funding_amount_currency,total_funding_amount_currency_(in_usd),number_of_investors,number_of_acquisitions,ipo_status,ipo_date,stock_exchange,tool_name,url_format
2260,Better Speech,https://www.crunchbase.com/organization/better...,Health Care,"Sanford, North Carolina, United States",The leading Online Speech Therapy provider for...,"212,227","Research Triangle, East Coast, Southern US",2020-06-05,day,Active,...,NaN,NaN,NaN,NaN,NaN,Private,NaN,NaN,BetterSpeech,betterspeech.com
2856,Me4U,https://www.crunchbase.com/organization/me4u,"Artificial Intelligence (AI), Content, Social ...","New York, New York, United States",Me4U is an AI platform that enables creators t...,"30,970","Greater New York Area, East Coast, Northeaster...",2022-01-01,year,Active,...,750000.0,USD,750000.0,1.0,NaN,Private,NaN,NaN,Me4U,me4u.ai
1322,Tailor Brands,https://www.crunchbase.com/organization/tailor...,"Advertising, Brand Marketing, Compliance, Cons...","Brooklyn, New York, United States",Tailor Brands is a revolutionary business-buil...,"5,413","Greater New York Area, East Coast, Northeaster...",2014-06-11,day,Active,...,70600000.0,USD,70600000.0,9.0,NaN,Private,NaN,NaN,TailorBrands,tailorbrands.com
865,Sloped,https://www.crunchbase.com/organization/sloped,"Analytics, Artificial Intelligence (AI), Devel...","San Francisco, California, United States",Developer of data platform designed to turn da...,"208,310","San Francisco Bay Area, West Coast, Western US",2023-02-01,day,Active,...,NaN,USD,NaN,1.0,NaN,Private,NaN,NaN,Sloped,sloped.xyz
3376,ProfitWell,https://www.crunchbase.com/organization/profit...,"Analytics, Enterprise Software, SaaS, Software","Boston, Massachusetts, United States",ProfitWell provides business intelligence solu...,"138,102","Greater Boston Area, East Coast, New England",2012-01-01,year,Active,...,NaN,NaN,NaN,NaN,1.0,Private,NaN,NaN,ProfitWell,profitwell.com

In [187]:
#count duplicates in df_financial
df_financial.duplicated().sum()

1

In [188]:
#count duplicates in df_financial based on url_format
df_financial['url_format'].duplicated().sum()

1

# Building scrapers

## Cleaning toolscraper There's an AI for that

In [22]:
#convert to df
df = pd.DataFrame(pd.read_excel("/Users/macbook/Thesis data scrapers/Newscraper/data/merged_data.xlsx"))

In [23]:
#change only column names to lowercase
df.columns = df.columns.str.lower()

#make new column 'url_format' format URL should be always:nametool DOT link
df['url_format'] = df['url'].str.replace('https://', '').str.replace('http://', '').str.replace('www.', '').str.split('/').str[0]

print(df['url_format'])

0                               knowbase.ai
1                           slidespilot.com
2                                    40h.io
3                             flushai.cloud
4                        deeparteffects.com
                       ...
8861                         conversica.com
8862                           deepgram.com
8863                 deepdreamgenerator.com
8864                           deepbeat.org
8865    ai-writer.com?via=theresanaiforthat
Name: url_format, Length: 8866, dtype: object

/var/folders/lz/910twyk903nb6sxfgz54bngc0000gn/T/ipykernel_32311/2228545242.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['url_format'] = df['url'].str.replace('https://', '').str.replace('http://', '').str.replace('www.', '').str.split('/').str[0]

In [26]:
# Using a regular expression to replace all non-alphanumeric characters with nothing ('')
df['name_format'] = df['name'].str.replace('[^a-zA-Z0-9]', '', regex=True)

# change all to lowercase in name_format
df['name_format'] = df['name_format'].str.lower()

In [29]:
df.head()

,tool_id,name,task,url,price,saves,likes,stars,period,url_content,url_format,name_format
0,1,Knowbase,Knowledge bases,https://www.knowbase.ai/,Free,64,3.0,3.0,october,/ai/knowbase/,knowbase.ai,knowbase
1,2,Slidespilot,Presentation slides,https://www.slidespilot.com/,No pricing,47,NaN,NaN,october,/ai/slidespilot/,slidespilot.com,slidespilot
2,3,40H,Career advice,https://40h.io/,No pricing,37,3.0,5.0,october,/ai/40h/,40h.io,40h
3,4,FlushAI,Image generation,https://www.flushai.cloud/,Free,34,NaN,5.0,october,/ai/flushai/,flushai.cloud,flushai
4,5,Deep Art Effects,Image editing,https://www.deeparteffects.com/,No pricing,30,NaN,5.0,october,/ai/deep-art-effects/,deeparteffects.com,deeparteffects

In [152]:
# count duplicates in df
df.duplicated(subset=['name_format']).sum()

289

In [153]:
df.duplicated(subset=['url_format']).sum()

922

In [156]:
#how many unique values are there in the column name_format 
df['name_format'].nunique()

7944

In [ ]:
#how many unique values are there in the column url_format
df['url_format'].nunique()

In [157]:
#how many rows aret here in df
df.shape

(8866, 12)

In [158]:
#how many uniqye values for each column
df.nunique()

tool_id        8866
name           8641
task           2311
url            8678
price           902
saves           529
likes            31
stars            39
period           20
url_content    8624
url_format     7944
name_format    8577
dtype: int64

In [159]:
df.describe()

           tool_id        likes        stars
count  8866.000000  1263.000000  2028.000000
mean   4433.500000     2.464766     3.783432
std    2559.538077    10.020984     1.549983
min       1.000000    -4.000000     1.000000
25%    2217.250000     1.000000     3.000000
50%    4433.500000     1.000000     5.000000
75%    6649.750000     2.000000     5.000000
max    8866.000000   326.000000     5.000000

In [28]:
#give unique id to each row and call it tool_id
df['tool_id'] = df.index + 1

#put tool_id in front of the df
df = df.set_index('tool_id').reset_index()

In [30]:
#column names
df.columns

Index(['tool_id', 'name', 'task', 'url', 'price', 'saves', 'likes', 'stars',
       'period', 'url_content', 'url_format', 'name_format'],
      dtype='object')

# Tool cleaning

## There's an AI for that

In [140]:
#read ai tools
ai_tools = pd.read_excel("/Users/macbook/Thesis data scrapers/Newscraper/data/merged_data.xlsx")
#print head
ai_tools.head()

,Name,Task,URL,Price,Saves,Likes,Stars,Period,url_content
0,Knowbase,Knowledge bases,https://www.knowbase.ai/,Free,64,3.0,3.0,october,/ai/knowbase/
1,Slidespilot,Presentation slides,https://www.slidespilot.com/,No pricing,47,NaN,NaN,october,/ai/slidespilot/
2,40H,Career advice,https://40h.io/,No pricing,37,3.0,5.0,october,/ai/40h/
3,FlushAI,Image generation,https://www.flushai.cloud/,Free,34,NaN,5.0,october,/ai/flushai/
4,Deep Art Effects,Image editing,https://www.deeparteffects.com/,No pricing,30,NaN,5.0,october,/ai/deep-art-effects/

## There's an AI for that scraper

In [4]:
async def extract_general_info(page):
    data_list = []
    
    html_content = await page.content()
    soup = BeautifulSoup(html_content, 'html.parser')

    # Your existing Beautiful Soup code to extract information
    use_case = soup.select_one(".use_case").text.strip() if soup.select_one(".use_case") else 'N/A'
    launch_date_elem = soup.select_one(".launch_date_top").text.strip() if soup.select_one(".launch_date_top") else 'N/A'
    title_elem = soup.select_one(".title_inner").text.strip() if soup.select_one(".title_inner") else 'N/A'
    ratings_count_elem = soup.select_one(".ratings_count").text.strip() if soup.select_one(".ratings_count") else 'N/A'
    tool_link_elem = soup.select_one("#ai_top_link").attrs.get('href', 'N/A') if soup.select_one("#ai_top_link") else 'N/A'
    tags_data = [tag.text for tag in soup.select("a.tag")] if soup.select("a.tag") else []
    price_data = soup.select_one("span.tag.price").text if soup.select_one("span.tag.price") else 'N/A'
    description_data = soup.select_one("div.description").text.strip() if soup.select_one("div.description") else 'N/A'

    # You can add a part here to scrape comments if they exist

    # Append this data to a list
    data_list.append([use_case, launch_date_elem, title_elem, ratings_count_elem, tool_link_elem, tags_data, price_data, description_data])
    return data_list

In [5]:
import re

async def extract_reviews(page):
    comments_data = []
    
    # Select the comment elements directly with Playwright
    comment_elements = await page.query_selector_all("div#user_comments div.comment")

    if not comment_elements:
        return comments_data

    for comment_element in comment_elements:
        comment_id = await comment_element.get_attribute("data-id")
        user_id = await comment_element.get_attribute("data-user")
        comment_text = await comment_element.text_content()
        
        if comment_text:
            # Clean up the comment text
            comment_text = re.sub(r'\n+', '\n', comment_text).strip()  # Remove extra newlines
            comment_text = re.sub(r'\n+\n+', ' - ', comment_text)  # Replace separator with ' - '
            comment_text = re.sub(r'\n+Sign up.*', '', comment_text)  # Remove trailing content after 'Sign up'
            comment_text = comment_text.strip()  # Remove any leading/trailing whitespace
        else:
            comment_text = 'N/A'
        
        # Find the tool link with Playwright
        tool_link_elem = await page.query_selector("#ai_top_link")
        tool_link = await tool_link_elem.get_attribute("href") if tool_link_elem else 'N/A'

        comments_data.append([comment_id, user_id, comment_text, tool_link])

    return comments_data

In [6]:
USER_AGENTS = [
        'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0',
        'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36',
        'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1.1 Safari/605.1.15',
        'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36',
        'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Edge/91.0.864.48',
        'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:54.0) Gecko/20100101 Firefox/54.0',
        
    ]


import random


async def scrape_page(context, full_url):
    # Randomly pick a user agent from the list
        
    page = await context.new_page()
    
    # Randomly select a user agent from the list
    user_agent = random.choice(USER_AGENTS)

    # Set the 'User-Agent' header using the randomly selected value and add proxy
    await page.set_extra_http_headers({'User-Agent': user_agent}, )

    #include prxy stated before


    


    #if previous_url:
      #  headers['Referer'] = previous_url

    # Set HTTP headers
    #await page.set_extra_http_headers(headers)
    #await page.set_default_navigation_timeout(60000)  # Set a reasonable timeout

    await page.goto(full_url, wait_until="domcontentloaded")
    #await page.wait_for_load_state(state="networkidle")
    
    general_info = await extract_general_info(page)
    reviews = await extract_reviews(page)

    return reviews, general_info

In [7]:
args = [   '--proxy-server=http://127.0.0.1:24000'
    
]
async def main():
    final_data_list = []
    final_reviews_list = []
    base_url = "https://theresanaiforthat.com"
    
    # Load URLs from CSV
    urls_df = pd.read_csv("/Users/macbook/Thesis data scrapers/data_aitools_links.csv")

    async with async_playwright() as p:
        browser = await p.chromium.launch(headless=False, args = args)        
        context = await browser.new_context()

        for url_suffix in urls_df['url_content'].tolist()[:4]:
            full_url = f"{base_url}{url_suffix}"
            for retry in range(3):  # Retry up to 3 times
                try:
                    
                    logging.info(f"Scraping: {full_url}") 

                    await asyncio.sleep(randint(3, 7))
                    #
                    reviews, general_info = await scrape_page(context, full_url)
                    final_data_list.extend(general_info)
                    final_reviews_list.extend(reviews)

                    #Scrape comments
                    #comments_data = await scrape_comments(context, url_suffix)
                    #if comments_data:
                        #final_comments_data_list.extend(comments_data)
                    
                    #await context.close()
                    break  # Exit the retry loop if successful
                    
                except Exception as e:
                    logging.error(f"Failed attempt {retry + 1} for {full_url}: {str(e)}")
                    await context.close()
        
        await context.close()

        await browser.close()

    # Save to CSV
    final_df = pd.DataFrame(final_data_list, columns=['Use Case', 'Launch Date', 'Title', 'Amount of Ratings', 'Tool Link', 'Tags', 'Price Data', 'Description'])
    final_df.to_csv('ai_tools_data.csv', index=False)

    # Save comments to CSV
    comments_df = pd.DataFrame(final_reviews_list, columns=['Comment ID', 'User ID', 'Comment Text', 'Tool Link'])
    comments_df.to_csv('ai_tools_comments.csv', index=False)
    

# Run the main function
await main()

In [8]:
#read ai comments
ai_comments = pd.read_csv("ai_tools_comments.csv")
#print head

In [9]:
#read ai tools
ai_tools = pd.read_csv("ai_tools_data.csv")
#print head
ai_tools.head()

,Use Case,Launch Date,Title,Amount of Ratings,Tool Link,Tags,Price Data,Description
0,Team collaboration and knowledge sharing.,04 Oct 2023,Knowbase,(2),https://www.knowbase.ai/?ref=taaft&utm_source=...,"['knowledge', 'knowledge base', 'information',...",Free,Generated by ChatGPT\nKnowbase is an AI knowle...
1,Enhanced presentation creation with guidance.,06 Oct 2023,Slidespilot,(2),https://www.slidespilot.com/?ref=taaft&utm_sou...,"['presentation', 'PowerPoint', 'business', 'ed...",NaN,Generated by ChatGPT\nSlidesPilot is an AI too...
2,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN
3,Text-to-image for devs and users.,03 Oct 2023,FlushAI,(4),https://www.flushai.cloud/?ref=taaft&utm_sourc...,"['image', 'art', 'generator']",Free,Generated by ChatGPT\nFlush AI is an end-to-en...

In [11]:
# count amount of comments and differnt links
#ai_comments['Tool Link'].nunique()
ai_comments.sample(5)
#only head of comment text
#ai_comments['Comment Text'].head()

#full text of comment text and print full text
#ai_comments['Comment Text'].tolist()
#ai_comments['Comment Text'].sample(1)

,Comment ID,User ID,Comment Text,Tool Link
6,3866,483083,"William Lowe\n Oct 21, 2023\nWould be better ...",https://www.slidespilot.com/?ref=taaft&utm_sou...
1,3958,502145,"Maciej Morzyowek\n Oct 27, 2023\nReply\nDelete",https://www.knowbase.ai/?ref=taaft&utm_source=...
3,3669,121053,"Reinaldo Luckman\n Oct 11, 2023\nThe signup p...",https://www.knowbase.ai/?ref=taaft&utm_source=...
0,3959,502145,"Maciej Morzyowek\n Oct 27, 2023\nKnowbase is...",https://www.knowbase.ai/?ref=taaft&utm_source=...
2,3871,235474,"Sbastien Bauer\n Oct 22, 2023\nThere is no w...",https://www.knowbase.ai/?ref=taaft&utm_source=...

## General Product Hunt scraper for tool links

## Product Hunt scraper

In [45]:
import re

async def extract_reviews_ph(page):
    comments_data_ph = []

    # Get all review elements by their common starting ID
    comment_elements = await page.query_selector_all('div[id^="review-"]')

    for comment_element in comment_elements:
        # Get the ID from the review element
        review_id = await comment_element.get_attribute("id")
        
        # Extract the review text
        review_text_selector = "div.styles_htmlText__iftLe"
        review_text_element = await comment_element.query_selector(review_text_selector)
        review_text = await review_text_element.inner_text() if review_text_element else 'N/A'
        
        # Extract user information, including the href of the user
        user_info_selector = "a.color-darker-grey.fontSize-16.fontWeight-600"
        user_info_element = await comment_element.query_selector(user_info_selector)
        user_info_text = await user_info_element.inner_text() if user_info_element else 'N/A'
        user_info_href = await user_info_element.get_attribute("href") if user_info_element else 'N/A'

        # Extract 'Helpful' count
        helpful_selector = "div.color-lighter-grey.fontSize-12.fontWeight-600"
        helpful_element = await comment_element.query_selector(helpful_selector)
        helpful_text = await helpful_element.inner_text() if helpful_element else 'N/A'

        # Extract just the number from the text 'Helpful (5)'
        helpful_count = re.search(r'Helpful \((\d+)\)', helpful_text)
        helpful_count = helpful_count.group(1) if helpful_count else '0'

        # Append the data to the list on each iteration of the loop
        comments_data_ph.append([review_id, review_text, user_info_text, user_info_href, helpful_count])

    return comments_data_ph

In [59]:
async def click_show_more2(page):
    max_clicks = 10  # Stel een maximum in voor het aantal kliks op de 'Show more' knop
    show_more_button_selector = ".styles_reset__1_PU9.styles_button__7X8Df.styles_full__wgSm4.mb-8"  # De volledige selector
    for _ in range(max_clicks):
        # Wacht tot de knop verschijnt (voorkomt errors op snelle paginas)
        await page.wait_for_selector(show_more_button_selector, timeout=5000)
        show_more_button = await page.query_selector(show_more_button_selector)
        if show_more_button and await show_more_button.is_enabled():
            await show_more_button.click()
            await asyncio.sleep(5)  # Wacht totdat de pagina nieuwe inhoud laadt
        else:
            break  # Geen knop gevonden of de knop is niet klikbaar

In [60]:
async def click_show_more(page):
    max_clicks = 10  # Stel een maximum in voor het aantal kliks op de 'Show more' knop
    show_more_button_selector = ".styles_reset__1_PU9.styles_button__7X8Df.styles_full__wgSm4.mb-8"  # De volledige selector
    
    for _ in range(max_clicks):
        try:
            # Wacht tot de knop verschijnt, met een time-out om oneindig wachten te voorkomen
            await page.wait_for_selector(show_more_button_selector, state='visible', timeout=8000)
            show_more_button = await page.query_selector(show_more_button_selector)
            if show_more_button:
                await show_more_button.click()
                await asyncio.sleep(5)  # Wacht om de nieuwe content te laten laden
            else:
                # Als de knop er niet is, breek de loop en ga door met scrapen
                break
        except Exception as e:
            # Als er een fout optreedt (bijv. timeout), log de fout en ga door met scrapen
            print(f"Could not click 'Show more': {e}")
            break

In [48]:
USER_AGENTS = [
        'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0',
        'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36',
        'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1.1 Safari/605.1.15',
        'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36',
        'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Edge/91.0.864.48',
        'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:54.0) Gecko/20100101 Firefox/54.0']

async def scrape_page_ph(context, full_url):
    # Randomly pick a user agent from the list
        
    page = await context.new_page()
    
    # Randomly select a user agent from the list
    user_agent = random.choice(USER_AGENTS)

    # Set the 'User-Agent' header using the randomly selected value and add proxy
    await page.set_extra_http_headers({'User-Agent': user_agent})

    #if previous_url:
      #  headers['Referer'] = previous_url

    # Set HTTP headers
    #await page.set_extra_http_headers(headers)
    #await page.set_default_navigation_timeout(60000)  # Set a reasonable timeout

    #response = 
    await page.goto(full_url, wait_until="domcontentloaded")
    #await page.wait_for_load_state(state="networkidle")
    await page.screenshot(path='moemate.png', full_page=True)

    # Check of de pagina aangeeft dat het product niet bestaat
    #if response.status == 404 or "Product not found" in await page.text_content('body'):
        #logging.info(f"Product not found: {full_url}")
        #await page.close()
        #return None, None  # Return None to indicate that the product was not found
    await click_show_more(page)

    #general_info = await extract_general_info_ph(page)
    reviews_ph = await extract_reviews_ph(page)

    return reviews_ph

In [67]:
args = [   '--proxy-server=http://127.0.0.1:24000']


for url_suffix in urls_df['url_content'].tolist()[:4]:
            full_url = f"{base_url}{url_suffix}"

async def main():
    #final_data_list = []
    final_reviews_list_ph = []
    base_url = "https://producthunt.com/products/"
    
    # Load URLs from CSV
    urls_df = pd.read_csv("/Users/macbook/Thesis data scrapers/data_aitools_links.csv")

    async with async_playwright() as p:
        browser = await p.chromium.launch(headless=False, args = args)        
        context = await browser.new_context()
        
        url_suffixes = random.sample(urls_df['url_content'].tolist(), k=min(10, len(urls_df)))
        
        for url_suffix in url_suffixes:
        # Verwijder de voorloop '/ai/' en voeg '/reviews' toe aan de URL
            product_name = url_suffix.replace('/ai/', '').strip('/')

            full_url = f"{base_url}{product_name}/reviews"
            
            for retry in range(1):  # Retry up to 3 times
                try:
                    
                    logging.info(f"Scraping: {full_url}") 

                    #await asyncio.sleep(randint(3, 7))
                    # general_info_ph
                    reviews_ph = await scrape_page_ph(context, full_url)
                    #final_data_list.extend(general_info_ph)
                    final_reviews_list_ph.extend(reviews_ph)
                    
                    break  # Exit the retry loop if successful
                    
                except Exception as e:
                    logging.error(f"Failed attempt {retry + 1} for {full_url}: {str(e)}")
                    await context.close()
            
        await context.close()

        #await browser.close()

    # Save to CSV
    #final_df = pd.DataFrame(final_data_list, columns=['Use Case', 'Launch Date', 'Title', 'Amount of Ratings', 'Tool Link', 'Tags', 'Price Data', 'Description'])
    #final_df.to_csv('ai_tools_data.csv', index=False)

    # Save comments to CSV
    comments_df = pd.DataFrame(final_reviews_list_ph, columns=['Review ID', 'Review Text', 'User Info name',  'User Info', 'Helpful Count'])
    comments_df.to_csv('ai_tools_comments_ph4.csv', index=False)
    
# Run the main function
await main()

Could not click 'Show more': Timeout 8000ms exceeded.
=========================== logs ===========================
waiting for locator(".styles_reset__1_PU9.styles_button__7X8Df.styles_full__wgSm4.mb-8") to be visible
============================================================
Could not click 'Show more': Timeout 8000ms exceeded.
=========================== logs ===========================
waiting for locator(".styles_reset__1_PU9.styles_button__7X8Df.styles_full__wgSm4.mb-8") to be visible
============================================================
Could not click 'Show more': Timeout 8000ms exceeded.
=========================== logs ===========================
waiting for locator(".styles_reset__1_PU9.styles_button__7X8Df.styles_full__wgSm4.mb-8") to be visible
============================================================
Could not click 'Show more': Timeout 8000ms exceeded.
=========================== logs ===========================
waiting for locator(".styles_reset__1_PU9.styles_button__7X8Df.styles_full__wgSm4.mb-8") to be visible
============================================================
Could not click 'Show more': Timeout 8000ms exceeded.
=========================== logs ===========================
waiting for locator(".styles_reset__1_PU9.styles_button__7X8Df.styles_full__wgSm4.mb-8") to be visible
============================================================
Could not click 'Show more': Timeout 8000ms exceeded.
=========================== logs ===========================
waiting for locator(".styles_reset__1_PU9.styles_button__7X8Df.styles_full__wgSm4.mb-8") to be visible
============================================================
Could not click 'Show more': Timeout 8000ms exceeded.
=========================== logs ===========================
waiting for locator(".styles_reset__1_PU9.styles_button__7X8Df.styles_full__wgSm4.mb-8") to be visible
============================================================
Could not click 'Show more': Timeout 8000ms exceeded.
=========================== logs ===========================
waiting for locator(".styles_reset__1_PU9.styles_button__7X8Df.styles_full__wgSm4.mb-8") to be visible
============================================================
Could not click 'Show more': Timeout 8000ms exceeded.
=========================== logs ===========================
waiting for locator(".styles_reset__1_PU9.styles_button__7X8Df.styles_full__wgSm4.mb-8") to be visible
============================================================
Could not click 'Show more': Timeout 8000ms exceeded.
=========================== logs ===========================
waiting for locator(".styles_reset__1_PU9.styles_button__7X8Df.styles_full__wgSm4.mb-8") to be visible
============================================================

In [61]:
args = [   '--proxy-server=http://127.0.0.1:24000'
    
]
async def main():
    #final_data_list = []
    final_reviews_list_ph = []
    base_url = "https://producthunt.com/products/"
    
    # Load URLs from CSV
    urls_df = pd.read_csv("/Users/macbook/Thesis data scrapers/data_aitools_links.csv")

    async with async_playwright() as p:
        browser = await p.chromium.launch(headless=False, args = args)        
        context = await browser.new_context()
        
        product_name = 'moemate'

        full_url = f"{base_url}{product_name}/reviews"
        
        for retry in range(1):  # Retry up to 3 times
            try:
                
                logging.info(f"Scraping: {full_url}") 

                #await asyncio.sleep(randint(3, 7))
                # general_info_ph
                reviews_ph = await scrape_page_ph(context, full_url)
                #final_data_list.extend(general_info_ph)
                final_reviews_list_ph.extend(reviews_ph)
                
                break  # Exit the retry loop if successful
                
            except Exception as e:
                logging.error(f"Failed attempt {retry + 1} for {full_url}: {str(e)}")
                #await context.close()
        
        #await context.close()

        #await browser.close()

    # Save to CSV
    #final_df = pd.DataFrame(final_data_list, columns=['Use Case', 'Launch Date', 'Title', 'Amount of Ratings', 'Tool Link', 'Tags', 'Price Data', 'Description'])
    #final_df.to_csv('ai_tools_data.csv', index=False)

    # Save comments to CSV
    comments_df = pd.DataFrame(final_reviews_list_ph, columns=['Review ID', 'Review Text', 'User Info name',  'User Info', 'Helpful Count'])
    comments_df.to_csv('ai_tools_comments_ph2.csv', index=False)
    
# Run the main function
await main()

Could not click 'Show more': Timeout 8000ms exceeded.
=========================== logs ===========================
waiting for locator(".styles_reset__1_PU9.styles_button__7X8Df.styles_full__wgSm4.mb-8") to be visible
============================================================

## Joining the tables for Tool ID

We will join the Dataframes on URL and Name with Fuzzy matching

In [31]:
from fuzzywuzzy import fuzz 
from fuzzywuzzy import process

In [32]:
def get_highest_fuzzy_score(url, urls_series):
    return max(urls_series.apply(lambda x: fuzz.ratio(url, x)))

In [33]:
df_ga['fuzzy_match_score'] = df_ga['website link'].apply(lambda x: get_highest_fuzzy_score(x, df_traffic['urls']))

In [36]:
df_traffic.sample(5)

                     urls  order        date        visits status  _Null_
2100           bigjpg.com    0.0  2023-01-01  1.761305e+06     OK     NaN
3831           gradio.app    6.0  2023-07-01  5.149273e+05     OK     NaN
28617            roost.ai    6.0  2023-07-01  1.811793e+03     OK     NaN
46383      fengmyshui.com    3.0  2023-04-01  0.000000e+00     OK     NaN
39406  color-anything.com    2.0  2023-03-01  1.404539e+02     OK     NaN

In [112]:
df_ga.sample(5)

,s.n.,tool name,location,year founded,website link,product description,business unit,vertical,application type,use case,type of output modality,type of data origin,freemium,fuzzy_match_score,url_format
518,385,inworldai,"Mountain View, California, United States",2021.0,www.inworld.ai,Fully integrated platform for AI characters th...,Software Development and Testing,Generic,Development-Support-Focused,LLM Model Development and Monitoring Platform,NaN,Combined,Yes,64,inworld.ai
48,160,codacy,"Lisbon, Lisboa, Portugal",2012.0,www.codacy.com,Ship high-quality code on 40+ programming lang...,Software Development and Testing,Generic,End-User Applications,Productivity- Developers,Code,Combined,Yes,83,codacy.com
628,589,poly,United States,2022.0,www.withpoly.com,Generate 3D Design Assets in Seconds with AI\n...,Marketing/Comms/Sales/Content,Generic,End-User Applications,Productivity- Designers and Creatives,Digital Model of Physical Objects,Private,Yes,64,withpoly.com
344,628,robinai,"London, UK",2019.0,www.robinai.com,"Robin AI is the leader in legal AI, combining ...",Generic,Generic,End-User Applications,Generative AI Apps- Legal,Text,Combined,Yes,85,robinai.com
173,232,did,"Tel Aviv, Tel Aviv, Israel",2017.0,https://www.d-id.com/,D-ID enables creators and developers to genera...,Marketing/Comms/Sales/Content,Generic,Development-Support-Focused,API for Specialized Models Marketplaces,Multimodal,Combined,Yes,56,d-id.com

In [64]:
pivot_df['fuzzy_match_score'] = pivot_df['urls'].apply(lambda x: get_highest_fuzzy_score(x, df['url_format']))

In [96]:
pivot_df.sample(5)

,urls,unknown,jan,feb,mar,apr,may,jun,jul,aug,sep,average visits,last month with visitors,fuzzy_match_score
1922,elicit.com,0.0,865.079112,6245.228665,2295.755225,8.831061e+02,0.000000,396.739078,272.878617,0.000000,722641.872049,81511,average visits,80
2799,hiflinn.com,0.0,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,935.980348,0.000000,0.000000,103,average visits,76
1632,demo.learnlingo.dev,0.0,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0,urls,100
5324,spline.design,0.0,527319.523824,448457.477896,594054.160991,1.079856e+06,880728.723782,806654.572065,751104.855703,713112.669752,689579.546952,721207,average visits,100
1365,comaker.ai,0.0,0.000000,0.000000,0.000000,5.357523e+02,2384.528418,1185.429372,404.109728,883.932904,1242.779946,737,average visits,100

In [103]:
# search for the url ai.leeway.lega in pivot_df and df 
#df[df['url_format'].str.contains('elicit')]
#pivot_df[pivot_df['urls'].str.contains('elicit.com')]

,tool_id,name,task,url,price,saves,likes,stars,period,url_content,url_format,name_format
7466,7467,Elicit,Academic research,https://elicit.org/,No pricing,443,2.0,4.0,2022,/ai/elicit/,elicit.org,elicit

In [108]:
#how many fuzzy match scores are above 99
pivot_df['fuzzy_match_score'].value_counts()[pivot_df['fuzzy_match_score'].value_counts() > 99].sum()

6056

In [109]:
#how many below 99
pivot_df['fuzzy_match_score'].value_counts()[pivot_df['fuzzy_match_score'].value_counts() < 99].sum()

568

In [111]:
#look for duplicates in the pivot_df in the traffic data for a part of the url
pivot_df[pivot_df['urls'].str.contains('elicit')]

,urls,unknown,jan,feb,mar,apr,may,jun,jul,aug,sep,average visits,last month with visitors,fuzzy_match_score
1922,elicit.com,0.0,865.079112,6.245229e+03,2.295755e+03,8.831061e+02,0.000000e+00,3.967391e+02,2.728786e+02,0.000000e+00,7.226419e+05,81511,average visits,80
1923,elicit.org,0.0,738545.077433,1.017811e+06,1.404640e+06,1.399469e+06,1.954978e+06,1.603347e+06,1.494005e+06,1.778498e+06,1.468345e+06,1428848,average visits,100

In [113]:
df_ga['fuzzy_match_score'] = df_ga['url_format'].apply(lambda x: get_highest_fuzzy_score(x, df['url_format']))

In [122]:
#how many fuzzy match scores are above 99
df_ga['fuzzy_match_score'].value_counts()[df_ga['fuzzy_match_score'].value_counts() < 70].sum()

428

In [123]:
df_ga['fuzzy_match_score'].value_counts()[df_ga['fuzzy_match_score'].value_counts() > 70].sum()

373

In [131]:
df_ga.sample(5)

,s.n.,tool name,location,year founded,website link,product description,business unit,vertical,application type,use case,type of output modality,type of data origin,freemium,fuzzy_match_score,url_format
522,429,locofy,"Singapore, Central Region, Singapore",2021.0,https://www.locofy.ai/,Locofy is the low code platform that lets you...,Marketing/Comms/Sales/Content,Generic,End-User Applications,Productivity- Designers and Creatives,Multimodal,Combined,Yes,78,locofy.ai
438,637,sassbook,"Singapore, Central Region, Singapore",2020.0,https://sassbook.com,Sassbook is an Intelligent software applicatio...,Marketing/Comms/Sales/Content,Generic,End-User Applications,Productivity- Editors,Text,Combined,Yes,100,sassbook.com
636,708,tenyx,United States,2022.0,www.tenyx.com,Tenyx delivers the next generation of enterpri...,Customer Service & Experience,Generic,End-User Applications,Generative AI Apps- Marketing & Sales,Multimodal,Combined,NaN,74,tenyx.com
292,83,askcodi,"Hamburg, Germany",2019.0,https://www.assistiv.ai,AskCodi is an AI code assistant that helps you...,Software Development and Testing,Generic,End-User Applications,Productivity- Developers,Code,Combined,Yes,76,assistiv.ai
448,686,sudowrite,United States,2020.0,www.sudowrite.com,"Sudowrite is the non-judgmental, always-there-...",Generic,Generic,End-User Applications,Productivity- Editors,Text,Public,No,100,sudowrite.com

In [117]:
#total urls in df_ga
df_ga['url_format'].nunique()

771

In [140]:
#look for duplicates in the pivot_df in the traffic data for a part of the url
df[df['url_format'].str.contains('locofy')]

Empty DataFrame
Columns: [tool_id, name, task, url, price, saves, likes, stars, period, url_content, url_format, name_format]
Index: []

In [141]:
df.head()

,tool_id,name,task,url,price,saves,likes,stars,period,url_content,url_format,name_format
0,1,Knowbase,Knowledge bases,https://www.knowbase.ai/,Free,64,3.0,3.0,october,/ai/knowbase/,knowbase.ai,knowbase
1,2,Slidespilot,Presentation slides,https://www.slidespilot.com/,No pricing,47,NaN,NaN,october,/ai/slidespilot/,slidespilot.com,slidespilot
2,3,40H,Career advice,https://40h.io/,No pricing,37,3.0,5.0,october,/ai/40h/,40h.io,40h
3,4,FlushAI,Image generation,https://www.flushai.cloud/,Free,34,NaN,5.0,october,/ai/flushai/,flushai.cloud,flushai
4,5,Deep Art Effects,Image editing,https://www.deeparteffects.com/,No pricing,30,NaN,5.0,october,/ai/deep-art-effects/,deeparteffects.com,deeparteffects

In [151]:
#count duplicatews in df
df['url_format'].value_counts()[df['url_format'].value_counts() > 1].sum()

1126

In [233]:
df[df['name_format'].str.contains('gpt')]

,tool_id,name,task,url,price,saves,likes,stars,period,url_content,url_format,name_format
6,7,MageGPT,Web apps,https://usemage.ai/,No pricing,28,NaN,NaN,october,/ai/magegpt/,usemage.ai,magegpt
46,47,SimpleGPT,Chatting,https://asakura42.github.io/SimpleGPT/,Free,9,NaN,NaN,october,/ai/simplegpt/,asakura42.github.io,simplegpt
60,61,ormGPT,SQL queries,https://github.com/pilotpirxie/ormGPT,No pricing,7,NaN,NaN,october,/ai/ormgpt/,github.com,ormgpt
67,68,GPTea,Chatbots,https://www.gptea.ai/,From $14/mo,6,1.0,2.0,october,/ai/gptea/,gptea.ai,gptea
92,93,InfoGPT,Content generation,https://www.infogpt.app/,From $10,101,3.0,5.0,september,/ai/infogpt/,infogpt.app,infogpt
...,...,...,...,...,...,...,...,...,...,...,...,...
7190,7191,ChatGPT,ChatGPT,https://chat.openai.com/chat,Free,159,2.0,5.0,november,/ai/chatgpt/,chat.openai.com,chatgpt
7559,7560,FactGPT,Writing content with citations,https://www.longshot.ai/features/longshot-fact...,From $29/mo,120,NaN,NaN,2022,/ai/factgpt/,longshot.ai,factgpt
8620,8621,MeyaGPT,Chatbots,https://www.meya.ai/,From $99/mo,2,NaN,NaN,2021,/ai/meyagpt/,meya.ai,meyagpt
8665,8666,ChatGPT for Translators,Text translation,https://pro.wordscope.com/,No pricing,60,NaN,5.0,2020,/ai/chatgpt-for-translators/,pro.wordscope.com,chatgptfortranslators
8860,8861,Einstein GPT,Task automation,https://www.salesforce.com/products/einstein/o...,No pricing,25,NaN,NaN,2016,/ai/einstein-gpt/,salesforce.com,einsteingpt

In [150]:
df[df['name_format'].str.contains('synthesia')]

,tool_id,name,task,url,price,saves,likes,stars,period,url_content,url_format,name_format
6798,6799,Synthesia,Video generation,https://www.synthesia.io/?via=theresanaiforthat,From $26/mo,126,NaN,NaN,december,/ai/synthesia/,synthesia.io,synthesia
6799,6800,Synthesia,Video generation,https://www.synthesia.io/?via=theresanaiforthat,From $26/mo,126,NaN,NaN,december,/ai/synthesia/,synthesia.io,synthesia
6800,6801,Synthesia,Video generation,https://www.synthesia.io/?via=theresanaiforthat,From $26/mo,86,1.0,3.0,2019,/ai/synthesia/,synthesia.io,synthesia
6801,6802,Synthesia,Video generation,https://www.synthesia.io/?via=theresanaiforthat,From $26/mo,86,1.0,3.0,2019,/ai/synthesia/,synthesia.io,synthesia

In [148]:
#look for duplicates in the pivot_df in the traffic data for a part of the url
df_ga[df_ga['url_format'].str.contains('synthesia')]

,s.n.,tool name,location,year founded,website link,product description,business unit,vertical,application type,use case,type of output modality,type of data origin,freemium,fuzzy_match_score,url_format
211,697,synthesia,"England, United Kingdom",2017.0,https://www.synthesia.io/,Developer of a video synthesis technology desi...,Marketing/Comms/Sales/Content,Generic,End-User Applications,Productivity- Designers and Creatives,Video,Combined,No,100,synthesia.io

In [203]:
df.sample(5)

,tool_id,name,task,url,price,saves,likes,stars,period,url_content,url_format,name_format
143,144,Diffusion Logo Studio,Logo design,https://diffusion-logo-studio.gradientinsight....,From $4.99,35,NaN,NaN,september,/ai/diffusion-logo-studio/,diffusion-logo-studio.gradientinsight.com,diffusionlogostudio
6378,6379,Data Explorer,GitHub search tool,https://ossinsight.io/explore/,Free,21,NaN,NaN,january,/ai/data-explorer/,ossinsight.io,dataexplorer
2491,2492,Research Buddy,Academic research,https://researchbuddy.app/,No pricing,157,2.0,2.0,may,/ai/research-buddy/,researchbuddy.app,researchbuddy
7141,7142,PICLY,Spot the difference images,https://www.picly.ai/landing,Free,4,NaN,NaN,december,/ai/picly/,picly.ai,picly
5628,5629,TinyEinstein,Email marketing campaigns,https://www.tinyeinstein.ai/,From $3/mo,134,1.0,5.0,february,/ai/tinyeinstein/,tinyeinstein.ai,tinyeinstein

In [ ]:
# check in every dataframe how many fuzzy match scores are above 99

#df['fuzzy_match_score'].value_counts()[df['fuzzy_match_score'].value_counts() > 99].sum()

pivot_df['fuzzy_match_score'].value_counts()[pivot_df['fuzzy_match_score'].value_counts() > 99].sum()

#df_ga['fuzzy_match_score'].value_counts()[df_ga['fuzzy_match_score'].value_counts() > 99].sum()

df_financial['fuzzy_match_score'].value_counts()[df_financial['fuzzy_match_score'].value_counts() == 99].sum()

0

In [215]:
# Veronderstel dat de kolomnaam voor URL's in elke dataframe verschillend is
urls_pivot_df = set(pivot_df['urls'].unique())
urls_df = set(df['url_format'].unique())
urls_df_financial = set(df_financial['url_format'].unique())

# Vind de gemeenschappelijke URL's tussen alle drie de dataframes
common_urls_all = urls_pivot_df.intersection(urls_df, urls_df_financial)

# Vind de gemeenschappelijke URL's tussen pivot_df en df_financial
common_urls_pivot_financial = urls_pivot_df.intersection(urls_df_financial)

# Vind de gemeenschappelijke URL's tussen pivot_df en df
common_urls_pivot_df = urls_pivot_df.intersection(urls_df)

# Vind de gemeenschappelijke URL's tussen df_financial en df
common_urls_financial_df = urls_df_financial.intersection(urls_df)


# Aantal gemeenschappelijke URL's
number_of_common_urls_all = len(common_urls_all)
number_of_common_urls_pivot_financial = len(common_urls_pivot_financial)
number_of_common_urls_pivot_df = len(common_urls_pivot_df)
number_of_common_urls_financial_df = len(common_urls_financial_df)

print(f"Aantal gemeenschappelijke URL's tussen alle drie de dataframes: {number_of_common_urls_all}")
print(f"Aantal gemeenschappelijke URL's tussen pivot_df en df_financial: {number_of_common_urls_pivot_financial}")
print(f"Aantal gemeenschappelijke URL's tussen pivot_df en df: {number_of_common_urls_pivot_df}")
print(f"Aantal gemeenschappelijke URL's tussen df_financial en df: {number_of_common_urls_financial_df}")

Aantal gemeenschappelijke URL's tussen alle drie de dataframes: 1433
Aantal gemeenschappelijke URL's tussen pivot_df en df_financial: 1590
Aantal gemeenschappelijke URL's tussen pivot_df en df: 6056
Aantal gemeenschappelijke URL's tussen df_financial en df: 1799

In [ ]:
# compare fuzzy match scores of 99 and put them in a dataframe and just put the urls next to eachother with the dataframe name as column name